.main {
    margin: 0 18% 120px;
}

.main__menu{
width: 100%;
display: flex;
justify-content: space-between;
padding: 32px 0;;
}

.main__link {
text-decoration: none;
font-family: 'Conv_Gilroy-Bold';
}

.main__link_active {
    color: #070707;
}

.main__link_no-active {
    color: #828282;
}

.main__line_gray {
    color: #828282;
    size: 1px;
}
.main__content {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 40px 0 30px;
}

.main__name {
    font-family: 'Conv_Gilroy-Bold';
    font-size: 47px;
}

.main__info{
    font-family: 'Conv_Gilroy-Medium';
    font-size: 18px;
    position: relative;
    bottom: -22px;
}

.main__lang {
    transform: rotate(-90deg);
    font-family: 'Conv_Gilroy-Bold';
    font-size: 16px;
    position: relative;
    bottom: -18px;
}

.main__lang_no-active {
    color: #828282;
}

.main__image {
    width: 100%;
}

.about {
    background-color: #F6F6F6;
    height: 506px;
    display:flex;
}
.about__title {
    margin: 0;
}
.about__p {
    padding-top: 7px;
}

.about__wrap {
    width: 485px;
    height: 218px;
    margin: auto;
}

.title {
    font-family: 'Conv_Gilroy-Bold';
    font-size: 34px;
    text-align: center;
}

.subtitle {
    font-family: 'Conv_Gilroy-Medium';
    font-size: 18px;
    text-align: center;
}

.about__subtitle {
    vertical-align: bottom;
}
.skills__title {
    margin-top: 91px;
}

.skills__subtitle {
    margin: 69px auto 87px;
}
.skills__row {
    display: flex;
    justify-content: space-between;
    padding: 0px 250px 110px;
}
.skills__column {
    text-align: center;
}
.item-skills__icon {
    height: 90px;
    width: 90px;
    margin: 0 auto 24px;
}
.item-skills__icon_blue {
    background-color:#0C0824;
}
.item-skills__icon_brown {
    background-color: #423325;
}
.item-skills__icon_violet {
    background-color: #442F55;
}
.item-skills__title {
    font-family: 'Conv_Gilroy-Bold';
    font-size: 14px;
    color: #828282;
}
.item-skills__stars {
    margin-top: 41px;
}
.portfolio {
    background-color: #F6F6F6;
}
.portfolio__wrap{
    margin: 0 250px;
}
.portfolio__title {
    padding-top: 112px;
}

.portfolio__column {
    margin: 47px auto 0;
    padding-bottom: 96px;
}

.item-portfolio {
    margin: 0 auto 99px;
}


.item-portfolio__link {
    margin-top: 45px;
}
.item-portfolio__ref {
    color:black; 
}



@font-face {
	font-family: 'Conv_Gilroy-Bold';
	src: url('../fonts/Gilroy-Bold.eot');
	src: local('☺'), url('../fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy-Bold.ttf') format('truetype'), url('../fonts/Gilroy-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Gilroy-Medium';
	src: url('../fonts/Gilroy-Medium.eot');
	src: local('☺'), url('../fonts/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy-Medium.ttf') format('truetype'), url('../fonts/Gilroy-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
